<div class="container">
  <br>
  <br>

  <div class="form-inline" *ngFor="let day of days">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">{{day.day}}</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <span class="col-lg-2 col-md-2 col-sm-2"></span>
          <datetime (ngModelChange)="calcStartEndTime(day.index)" (placeholder)="'Start Time'" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [timepicker]="startTimeOpts" [datepicker]="false" [(ngModel)]="day.startDate">start</datetime>
          <datetime (ngModelChange)="calcStartEndTime(day.index)" (placeholder)="'End Time'" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [timepicker]="endTimeOpts" [datepicker]="false" [(ngModel)]="day.endDate"></datetime>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
              <label>HRs:</label><input (keyup)="CalcTime(day.index)" [(ngModel)]="day.hours"
                                        class="form-control">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
              <label>Min:</label><input (keyup)="CalcTime(day.index)" [(ngModel)]="day.min"
                                        class="form-control">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
              <label>Decimal:</label><input (keyup)="calcDecTime(day.index)" [(ngModel)]="day.decimalTime"
                                            class="form-control">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div>
    </div>
  </div>

  <br>
  <h2 class="text-center">
    <span class="label label-info">Amount Remaining:</span>
    <p class="btn btn-primary btn-lg">
      Hours: <span class="badge">{{time.hours}}</span>
    </p>
    <p class="btn btn-primary btn-lg">
      Min: <span class="badge">{{time.min}}</span>
    </p>
    <span class="glyphicon glyphicon-random"></span>
    <p class="btn btn-primary btn-lg">
      Decimal hours: <span class="badge">{{time.decimal.toFixed(2)}}</span>
    </p>
  </h2>
  <br>
</div>
